<section class="container is-fluid">
  <h1>{{ showcaseTitle }}</h1>
  <div class="scroll" *ngIf="series.length > 0; else noSeries">
    <div class="showcase">
      <div class="series" *ngFor="let s of series">
        <a [routerLink]="['/series', s.id]" _target="blank">
          <img
            *ngIf="s.imageUrl != null; else posternullTemplate"
            class="poster"
            [src]="s?.imageUrl"
          />
          <ng-template #posternullTemplate>
            <div class="poster poster-not-found"></div>
          </ng-template>
        </a>
        <div class="series-name">
          {{ s?.name }}
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noSeries>
  <p class="text-muted">No series ¯\_(ツ)_/¯</p>
</ng-template>
