<div *ngIf="series as s" class="series-grid-container">
  <header class="series-title">
    <h1>{{ s.name }}</h1>
  </header>

  <series-actions *ngIf="this.authenticated; else notAuthSeriesActions" class="series-actions" [series]="s"></series-actions>

  <img class="series-img" *ngIf="s.imageUrl != null" [src]="s?.imageUrl" />
  <div class="series-description" [innerHTML]="s.description"></div>

  <div class="series-extra-info">
    <h2>Info</h2>
    <div>Airs at {{ s.airTime }}</div>
    <div>Average rating of {{ s.averageRating / 20 }}/5</div>
    <div *ngIf="s.ended">Series ended</div>
    <div *ngIf="s.genres?.length > 0">Genres: {{ s.genres.join(", ") }}</div>
    <div>Network: {{ s.network }}</div>
    <div>{{ s.numberOfSeasons }} season{{ s.numberOfSeasons > 1 ? "s" : "" }}</div>
    <div>Premiered {{ s.premiered }}</div>
    <a *ngIf="s.officialSite" [href]="s.officialSite" class="btn btn-outline-secondary" target="_blank">Official website</a>
  </div>

  <div *ngIf="s.comments?.length > 0; else noComments" class="series-comments">
    <h2>Comments</h2>
    <div class="comment" *ngFor="let c of s.comments">
      <b>{{ c.author.fullName }}</b>
      {{ c.text }}
    </div>
  </div>
</div>

<ng-template #noComments><p class="series-comments text-muted mt-5">No comments yet</p></ng-template>
<ng-template #notAuthSeriesActions>
  <p class="text-muted pt-3">
    <a class="btn py-0" (click)="redirectToLogin()">Log in</a><small>to add this series to your favorites or watchlist!</small>
  </p>
</ng-template>
