@import "~bootstrap/scss/bootstrap";
@import "../../../styles.scss";

.series-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem repeat(3, 1fr);
  gap: 1rem 2rem;
  grid-template-areas:
    "series-title             series-title          series-title          series-actions"
    "series-description       series-description    series-description    series-img"
    "series-extra-info        series-comments       series-comments       series-img"
    "series-extra-info        series-comments       series-comments       nothing";
}

.series-title {
  grid-area: series-title;
}

.series-img {
  width: 100%;
  grid-area: series-img;
}

.series-description {
  grid-area: series-description;
}

.series-actions {
  grid-area: series-actions;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.series-extra-info {
  grid-area: series-extra-info;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.series-comments {
  grid-area: series-comments;
}

@include media-breakpoint-down(md) {
  .series-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 10rem auto;
    gap: 1rem 2rem;
    grid-template-areas:
      "series-title series-title"
      "series-img series-actions"
      "series-img series-extra-info"
      "series-description series-description"
      "series-comments series-comments";
  }

  .series-actions {
    grid-area: series-actions;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .series-img {
    height: 100%;
  }

  .series-extra-info {
    justify-content: flex-end;
  }
}

@include media-breakpoint-down(sm) {
  .series-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem 0;
    grid-template-areas:
      "series-title"
      "series-actions"
      "series-img"
      "series-description"
      "series-extra-info"
      "series-comments";
  }

  .series-actions {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .series-img {
    width: 100%;
    height: auto;
  }

  .series-extra-info {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
