@import "~bootstrap/scss/bootstrap";
@import "../../styles.scss";

/* GRID
*/
#wrapper {
  display: grid;
  grid-template-areas:
    "nav content"
    "nav footer";

  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 20px;
  grid-gap: 20px;

  min-height: 100vh;
}

@include media-breakpoint-down(sm) {
  #wrapper {
    grid-template-areas:
      "nav"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      auto; /* Footer */
  }
}

nav {
  grid-area: nav;
  background-color: $nav-bg;
  padding: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

main {
  padding: 20px;
  grid-area: content;
}

footer {
  align-self: end;
  grid-area: footer;
}

/*
* NAV
*/

nav {
  header {
    font-size: 2rem;
    font-family: Comfortaa, sans-serif;
  }
  ul {
    list-style: none;
  }
}
