@import "../../styles.scss";
@import "~bootstrap/scss/bootstrap";

/* GRID
*/
#wrapper {
  display: grid;
  grid-template-areas:
    "nav content"
    "nav footer";

  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 20px;
  grid-gap: 20px;

  min-height: 100vh;
}

@include media-breakpoint-down(sm) {
  #wrapper {
    grid-template-areas:
      "nav"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      auto; /* Footer */
  }
}

nav {
  grid-area: nav;
  background-color: $nav-bg;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  padding-left: 2rem;
  .navcontent {
    position: sticky;
    top: 2rem;
  }
  header {
    font-size: 2.4rem;
    font-family: Comfortaa, sans-serif;
    padding-right: 2rem;
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 4rem 0;
    padding: 0;

    li {
      svg {
        width: 1.5rem !important;
        fill: $body-color;
        margin-right: 1rem;
      }

      a {
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: 0.05rem;
        display: block;
        padding: 1rem 0 1rem 3rem;
        margin-left: -2rem;
        &:hover {
          background-color: lighten($nav-bg, 5%);
        }
        &.active-nav {
          background-color: $primary;
          background: linear-gradient(to right, $primary 20%, $nav-bg);
        }
      }
    }
  }
}

main {
  padding: 50px;
  grid-area: content;
  max-width: calc(100vw - 25rem);
}

@include media-breakpoint-down(sm) {
  main {
    max-width: calc(100vw - 2rem);
  }
}

main footer {
  align-self: end;
  grid-area: footer;
  padding-bottom: 1rem;
}
