<div id="wrapper">
  <!-- Nav Sidebar -->
  <nav>
    <header>
      <a [routerLink]="['']">zappr</a>
    </header>

    <ul>
      <li>
        <a [routerLink]="['discover']">discover</a>
      </li>
      <li>
        <a [routerLink]="['favorites']">favorites</a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <main class="container-fluid">
    <ng-content></ng-content>
  </main>

  <!-- Footer -->
  <footer>
    <div class="text-center">Made with <span>♥</span> by Dante De Ruwe</div>
  </footer>
</div>
