<div class="container w-75">
  <h1 class="mb-5">Register as new user</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- FULL NAME -->
    <div class="form-group">
      <label for="fullname">Full Name</label>
      <input
        type="text"
        formControlName="fullname"
        [ngClass]="['form-control', 'form-control-sm', getValidationMessage('fullname') ? 'border-danger' : '']"
        id="fullname"
        placeholder="Richard Hendricks"
      />
      <p class="text-danger w-100 text-right px-2">{{ getValidationMessage("fullname") }}&nbsp;</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        formControlName="email"
        type="email"
        [ngClass]="['form-control', 'form-control-sm', getValidationMessage('email') ? 'border-danger' : '']"
        id="email"
        placeholder="richard@piedpiper.com"
      />
      <p class="text-danger text-sm w-100 text-right px-2">{{ getValidationMessage("email") }}&nbsp;</p>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        [ngClass]="['form-control', 'form-control-sm', getValidationMessage('password') ? 'border-danger' : '']"
        id="password"
        autocomplete="new-password"
        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
      />
      <p class="text-danger text-sm w-100 text-right px-2">{{ getValidationMessage("password") }}&nbsp;</p>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group">
      <label for="confirmpassword"> Confirm Password</label>
      <input
        type="password"
        formControlName="confirmpassword"
        [ngClass]="['form-control', 'form-control-sm', getValidationMessage('confirmpassword') ? 'border-danger' : '']"
        id="confirmpassword"
        autocomplete="new-password"
        placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
      />
      <p class="text-danger text-sm w-100 text-right px-2">{{ getValidationMessage("confirmpassword") }}&nbsp;</p>
    </div>

    <!-- SUBMIT -->
    <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Register</button>

    <!-- ERROR -->
    <div class="text-danger float-right mt-2" *ngIf="this.errorMessage">{{ errorMessage }}</div>
  </form>
</div>
