@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../partial_styles/variables.scss";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

svg {
  width: 1.5rem;
  fill: $body-color;
  margin-right: 1rem;
}

span {
  display: block;
  margin-right: 1rem;
  font-weight: lighter;
}

button,
a {
  display: block;
}

@include media-breakpoint-down(sm) {
  svg,
  span {
    display: none;
  }
}
