$body-bg: #212121;
$body-color: white;

@import "~bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Comfortaa:600";

//general link styling
a,
a:hover {
  color: $body-color !important;
  text-decoration: none !important;
}
