@import "partial_styles/variables";
@import "~bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Comfortaa:600";

* {
  user-select: none;
}

a,
a:hover {
  color: $body-color !important;
  text-decoration: none !important;
}

input {
  background-color: lighten($body-bg, 5) !important;
  color: $body-color !important;
  border: 1px solid transparent !important;
  border-radius: 5rem !important;
  padding: 1rem !important;

  &:focus {
    border: 1px solid lighten($body-bg, 20) !important;
  }
}
